<html ng-app="contact-list">
<head>
	<meta charset="UTF-8">
	<title>Hello World</title>
	<script src="lib/angular/angular.js"></script>
	<script src="lib/angular/angular-messages.js"></script>
	<link rel="stylesheet" type="text/css" href="lib/bootstrap/bootstrap.min.css">
	<style>
		.jumbotron {
			width: 600px;
			text-align: center;
			margin-top: 30px;
			margin-left: auto;
			margin-right: auto;
			padding: 20px;
		}
		.h3 {

		}
		.table {
			background-color: white;
		}
		.selected {
			background-color: blue;
			font-weight: bold;
			color: white;
		}
	</style>
	<script>
		angular.module("contact-list", ["ngMessages"]);
		angular.module("contact-list").controller("contactsController", function ($scope, $filter) {
			$scope.app = "Lista Telefônica";
			$scope.contacts = [
			{name: "Pedro", phone: "(31) 12345-6789", company: {name: "Oi"}, color: "black", date: new Date()},
			{name: "Savio", phone: "(41) 98765-4321", company: {name: "Tim"}, color: "green", date: new Date()},
			{name: "Henrique", phone: " (25) 11111-1111", company: {name: "GVT"}, color: "orange", date: new Date()}
			];
			$scope.companies = [
			{name: "Oi", code: 31, category: "Celular"},
			{name: "Vivo", code: 15, category: "Celular"},
			{name: "Tim", code: 41, category: "Celular"},
			{name: "Oi", code: 31, category: "Fixo"},
			{name: "GVT", code: 25, category: "Fixo"},
			{name: "Embratel", code: 21, category: "Fixo"}
			];
			$scope.colors = [
			"black", "yellow", "greenyellow", "green", "emerald", "blueviolet", "crimson", 
			"firebrick", "orange", "darkcyan", "indigo", "pink", "red", "gray", "brown"
			];
			$scope.addContact = function(contact){
				contact.phone = '(' + contact.company.code + ') ' + contact.phone;
				contact.date = new Date();
				$scope.contacts.push(angular.copy(contact));
				delete $scope.contact;
				$scope.contactForm.$setPristine();
			};
			$scope.deleteContact = function(contacts) {
				$scope.contacts = contacts.filter(function (contact) {
					if (!contact.selected) return contact;
				});
			};
			$scope.isSomeSelected = function(contacts) {
				return contacts.some(function(contact) {
					return contact.selected;
				})
			};
			$scope.orderBy = function (field) {
				$scope.orderField = field;
				$scope.orderDirection = !$scope.orderDirection;
			};
		});
	</script>

</head>

<body ng-controller="contactsController">
	<div class="jumbotron">
		<h3>{{app}}</h3>
		<hr/>
		<input class="form-control" type="text" ng-model="searchFilter" placeholder="Pesquisa"/>
		<br/>
		<table ng-show="contacts.length > 0" class="table">
			<thead>
				<tr>
					<th></th>
					<th><a href="" ng-click="orderBy('name')">Nome</a></th>
					<th><a href="" ng-click="orderBy('phone')">Telefone</a></th>
					<th>Operadora</th>
					<th>Data</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="contact in contacts | filter:searchFilter | orderBy:orderField:orderDirection" ng-class="{'selected': contact.selected}">
					<td><input type="checkbox" ng-model="contact.selected" /></td>
					<td>{{contact.name | uppercase}}</td>
					<td>{{contact.phone}}</td>
					<td>{{contact.company.name | lowercase}}</td>
					<td>{{contact.date | date:'dd/MM/yyyy HH:mm'}}</td>
					<td><div style="width: 20px; height: 20px;" ng-style="{'background-color': contact.color}"></div></td>
				</tr>
			</tbody>
		</table>
		<hr/>
		<form name="contactForm">
			<input class="form-control" type="text" ng-model="contact.name" name="name" placeholder="Nome" ng-required="true" ng-minlength="10"></input>
			<br/>
			<input class="form-control" type="text" ng-model="contact.phone" name="phone" placeholder="Telefone" ng-required="true" ng-pattern="/^\d{4,5}-\d{4}$/"></input>
			<br/>
			<select class="form-control" ng-model="contact.company" ng-options="company.name group by company.category for company in companies | orderBy:'name'">
				<option value="">Selecione uma operadora</option>
			</select>
			<br/>
			<select class="form-control" ng-model="contact.color" ng-options="color for color in colors">
				<option value="" style="background-color: black">Selecione uma cor</option>
			</select>
		</form>

		<div ng-messages="contactForm.name.$error" ng-show="contactForm.name.$dirty && contactForm.name.$invalid" class="alert alert-danger">
			<div ng-message="required">
				Por favor, preencha o campo nome!
			</div>
			<div ng-message="minlength">
				O campo nome deve ter no mínimo 10 caracteres.
			</div>
		</div>

		<div ng-messages="contactForm.phone.$error" ng-show="contactForm.phone.$dirty && contactForm.phone.$invalid" class="alert alert-danger">
			<div ng-message="required">
				Por favor, preencha o campo telefone!
			</div>
			<div ng-message="pattern">
				O campo telefone deve ter o formato 99999-9999.
			</div>
		</div>

		<br/>
		<button class="btn btn-primary btn-block" ng-click="addContact(contact)" ng-disabled="contactForm.$invalid">Adicionar</button>
		<button class="btn btn-danger btn-block" ng-click="deleteContact(contacts)" ng-if="isSomeSelected(contacts)">Apagar</button>
	</div>
</body>
</html>